.taskFull-wrapp {
    position: absolute;
    top: 0;
    left: 0;
    height: 90%;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.input-disp {
    outline: none;
    border: none;
}

.task-imput {
    width: 100%;
}